.contato-container{
    padding-top: 90px;
}

.contato-mapa h2{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 28px;
    margin: 20px 0 35px 0;
}

.contato-mapa p{
    margin-bottom: 30px;
}

.lista-medicos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.lista-medicos li{
    list-style: none;
    max-width: 300px;
    padding: 10px 20px;
}

.lista-medicos li img{
    width: 150px;
    height: 150px;
    border-radius: 75px;
}